<h3>User Directory</h3>
<table class="table table-striped" id="users">
  <thead>
      <tr>
        <th>Picture</th>
        <th>Username</th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id=<%=user.unique_id%>>
        <td width="25%">
          <%= (image_tag(user.avatar.thumb.url, :class => 'img-polaroid')) if user.avatar? %>
        </td>
        <td width="75%">
          <%=link_to user.username, user_path(user.unique_id) %>
          <% if user.uid %>
                 <br>Using oAuth2
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
